<tr>
	<td><%= id %></td>
	<td><%= data %></td>
	<td><%= cliente.nome %></td>
	<td><a href="ddt.xhtml?ddt=<%= realId %>&amp;action=show"> <i
			class="text-success fa fa-search" title="Visualizza"></i>
	</a> <a href="ddt.xhtml?ddt=<%= realId %>&amp;action=edit"> <i
			class="text-info fa fa-pencil" title="Modifica"></i>
	</a> <a href="#" data-toggle="modal"
		data-target="#cancellaDdtModal<%= realId %>"> <i
			class="text-danger fa fa-trash-o" title="Cancella"></i>
	</a> <a href="mail.xhtml?company=<%= cliente.id %>&ddt=<%= realId %>"> <i class="text-warning fa fa-envelope" title="Invia"></i>
	</a> <a href="#" onclick="stampaDdt(<%= realId %>)"> <i class="text-primary fa fa-print" title="Stampa"></i>
	</a> 
	<%if (!fattura) { %>
		<a href="fattura.xhtml?ddt=<%= realId %>&endDate=<%= data %>"> <i class="text-success fa fa-eur" title="Crea Fattura"></i></a>
	<% } %>
	
	</td>
</tr>