<div class="modal fade" id="cancellaDdtFatturaModal<%= id %>" tabindex="-1"
	role="dialog" aria-labelledby="cancellaDdtFatturaModalLabel<%= id %>">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true"><i class="fa fa-times"></i></span>
				</button>
				<h4 class="modal-title" id="cancellaDdtFatturaModalLabel<%= id %>">Cancella
					DdT da Fattura</h4>
			</div>
			<div class="modal-body">
				Sei sicuro di voler eliminare il DdT numero <strong><%= id %></strong>
				del <strong><%= data %></strong> da questa fattura?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					onclick="deleteDdTFattura('<%= id %>')">Elimina DdT</button>
			</div>
		</div>
	</div>
</div>