<tr>
	<td contenteditable="true"><%= codice %></td>
	<td contenteditable="true"><%= commessa %></td>
	<td contenteditable="true"><%= descrizione %></td>
	<td contenteditable="true"><%= qta %></td>
	<td class="text-center"><input type="checkbox" <% if (prototipo) { %>checked<% } %> /></td>
	<td class="text-center"><input type="checkbox" <% if (campionario) { %>checked<% } %> /></td>
	<td class="text-center"><input type="checkbox" <% if (primoCapo) { %>checked<% } %> /></td>
	<td class="text-center"><input type="checkbox" <% if (piazzato) { %>checked<% } %> /></td>
	<td class="text-center"><input type="checkbox" <% if (interamenteAdesivato) { %>checked<% } %> /></td>
	<td class="hidden"><%= id %></td>
</tr>